page-hd-play {
    .corpo {
        background-image: url("../assets/imgs/jogo-hd.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .nome-jogo {
        width: 85%;
        height: 30%;
        position: absolute;
        left: 50%;
        margin-left:-38%;
        margin-top:5%;
    }

    .btn-play {
        width: 55%;
        height: 10%;
        background-image: url("../assets/imgs/bot-3.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-color: transparent;
        left: 50%;
        position: absolute;
        margin-left: -27%;
        margin-top: 85%;
    }

   
    .btn-instruct {
        width: 55%;
        height: 10%;
        background-image: url("../assets/imgs/bot-5.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-color: transparent;
        left: 50%;
        position: absolute;
        margin-left: -27%;
        margin-top: 105%;
    }

    @media only screen and (min-height: 580px) and (max-height: 700px) {
        .btn-play {
            width: 55%;
            height: 10%;
            background-image: url("../assets/imgs/bot-3.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-color: transparent;
            left: 50%;
            position: absolute;
            margin-left: -27%;
            margin-top: 90%;
        }
    
       
        .btn-instruct {
            width: 55%;
            height: 10%;
            background-image: url("../assets/imgs/bot-5.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-color: transparent;
            left: 50%;
            position: absolute;
            margin-left: -27%;
            margin-top: 112%;
        }
    }
}
