<ion-header>
</ion-header>


<ion-content padding class="corpo">
  <img src="assets/imgs/hd-titulo.png" class="nome-jogo">


    <button ion-button class="btn-play" mode="ios" (click)="chamarProxTelaPlay()"></button>
    <button ion-button class="btn-instruct" mode="ios" (click)="chamarProxTelaAjuda()"></button>
    

</ion-content>
