page-tela-escolhe-jogo {
      
    .corpo {
        //background-color: rgb(12, 14, 22);
        //background-color: rgb(213, 213, 214);
        background-image: url("../assets/imgs/fundo-parado2.png");
      // background-repeat: no-repeat;
      // background-size: 100% 100%;
    }

    .btn-config{
        width: 8%;
        height: 5%;
        margin-left:93%;
        margin-top: -1%;
    }
     .card1 {
      background-image: url("../assets/imgs/jogo-hd.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 96%;
      height: 35%;
      left: 50%;
      top:0%;
      margin-left: -48%;
      position: relative;
      text-align: center;
      border-radius: 3px;
      }

      .card2 {
        background-image: url("../assets/imgs/fundo-jogo-1.gif");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 96%;
        height: 35%;
        left: 50%;
        top:0%;
        margin-left: -48%;
        position: relative;
        text-align: center;
        border-radius: 3px;
      }
      
      .card-title {
        position: absolute;
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
        font-family: Joystix Monospace;
      }
    
      .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 52%;
        width: 100%;
        color: rgb(206, 202, 202);
        font-family: Joystix Monospace;
      }

      .mais-jogos {
        font-size: 1.0em;
        position: relative;
        text-align: center;
        top: 15%;
        width: 100%;
        color: rgb(206, 202, 202);
        font-family: Joystix Monospace;
      }
}
