<ion-header>
</ion-header>

<ion-content padding class="corpo">

  <img src="assets/imgs/settings.png" class="btn-config">
  <ion-card class="card1" (click)="abreJogo1()">
    <div class="card-title">Pegue HD's</div>
    <div class="card-subtitle">Jogue agora</div>
  </ion-card>

  <ion-card class="card2">
      <div class="card-title">JOGO 2</div>
      <div class="card-subtitle">Jogue agora</div>
  </ion-card>

  <ion-card class="card1">
    
  </ion-card>
  
  <div class="mais-jogos">Em breve, mais jogos!</div>
  <br>
<!--
  <ion-card>
    <img src="img/card-amsterdam.png"/>
    <div class="card-title">Amsterdam</div>
    <div class="card-subtitle">64 Listings</div>
  </ion-card>

  <ion-card>
    <img src="img/card-sf.png"/>
    <div class="card-title">San Francisco</div>
    <div class="card-subtitle">72 Listings</div>
  </ion-card>

  <ion-card>
    <img src="img/card-madison.png"/>
    <div class="card-title">Madison</div>
    <div class="card-subtitle">28 Listings</div>
  </ion-card>
-->
</ion-content>
