page-home {
    .fundo {
        background-color: black;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        25% {
            opacity: 0.25;
        }
        50% {
            opacity: 0.5;
        }
        75% {
            opacity: 0.75;
        }
        100% {
            opacity: 1;
        }
      }

      .fadeIn {
        width: 40%;
        height: 35%;
        left: 50%;
        top: 50%;
        position: absolute;
        margin-left: -20%;
        margin-top: -35%;
        animation-name: fadeIn;
        animation-duration: 3s;
      }
}
