page-hd-ajuda {
    .corpo {
        background-image: url("../assets/imgs/jogo-hd.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .caixa-instruc {
        background-image: url("../assets/imgs/caixa-instruc-2.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 80%;
        height: 82%;
        left: 50%;
        position: absolute;
        margin-left: -40%;
        margin-top: 15%;
    }

    .titulo-ajuda {
        width: 70%;
        height: 12%;
        background-image: url("../assets/imgs/bot-5.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-color: transparent;
        left: 50%;
        position: absolute;
        margin-left: -35%;
        margin-top: -10%;
    }

    .nao-pegar{
        width: 80%;
        margin-top: 30%;
        left:50%;
        position: absolute;
        margin-left: -40%;
    }

    .deve-pegar{
        width: 80%;
        margin-top: 100%;
        left:50%;
        position: absolute;
        margin-left: -40%;
    }

    .impressora{
        width: 75px;
        height: 75px;
        margin-left: 10%;
        margin-top: 65%;
        background-color: transparent;
    }

    .wifi{
        width: 60px;
        height: 60px;
        margin-left: 5%;
        margin-top: 68%;
        background-color: transparent;
        position: absolute;
    }

    .bitcoi{
        width: 65px;
        height: 65px;
        margin-left: 30%;
        margin-top: 65%;
        background-color: transparent;
    }

    .disco-rigido {
        width: 75px;
        height: 75px;
        position: absolute;
        left: 50%;
        margin-left: -37.5px;
        margin-top: 130%;
        background-color: transparent;
    }

    .btn-voltar{
        width: 30%;
        height: 12%;
        background-image: url("../assets/imgs/bot-6.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-color: transparent;
        left: 50%;
        position: absolute;
        margin-left: -58%;
        margin-top: 165%;
    }

    @media only screen and (min-height: 580px) and (max-height: 700px) {
        .btn-voltar{
            width: 30%;
            height: 12%;
            background-image: url("../assets/imgs/bot-6.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-color: transparent;
            left: 50%;
            position: absolute;
            margin-left: -58%;
            margin-top: 174%;
        }
    }
}
