<ion-header>
</ion-header>


<ion-content padding class="corpo">
  <div class="caixa-instruc">
      <div class="titulo-ajuda"></div>
      <img src="assets/imgs/nao-pegar2.png" class="nao-pegar">
      <img src="assets/imgs/deve-pegar2.png" class="deve-pegar">

      <img src="assets/imgs/impressora.png" class="impressora">
      <img src="assets/imgs/simbolo-wifi.png" class="wifi">
      <img src="assets/imgs/bitcoin-icon.png" class="bitcoi">

      <img src="assets/imgs/discorigido.png" class="disco-rigido">
      
      <button ion-button class="btn-voltar" mode="ios" (click)="voltar()"></button>
  </div>

</ion-content>
