@font-face {
  font-family: Extrude;
  src: url("../assets/fonts/extrude/Extrude.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Joystix Monospace;
  src: url("../assets/fonts/joystix/joystix-monospace.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Determination Mono;
  src: url("../assets/fonts/determination/DTM-Mono.otf");
  font-weight: normal;
  font-style: normal;
}