<ion-header>
  
</ion-header>

<ion-content padding class="corpo">

    <img src="assets/imgs/balao2.gif" class="balao" id="balao">
    <img src="assets/imgs/gif-logo.png" class="logo-jogo" id="logo">
    <img src="assets/imgs/toque-jogar.png" class="toque-jogar" id="toque">
    <br>
    <button ion-button class="botao-toque-jogar" id="btn-toque" (click)="chamarProxTela()" mode="ios"></button>

    
</ion-content>