page-tela-play {
    .corpo{
        background-image: url("../assets/imgs/fundo-azul.gif");
        background-size: 100%;
    }

    .balao {
        width: 280px;
        height: 450px;
        margin-left:-140px;
        position: absolute;
        left: 50%;
        top:580px;
    }

    .logo-jogo {
        width: 500px;
        margin-left:-4%;
        margin-top:-10%;
        position: absolute;
    }

    .toque-jogar {
        width: 500px;
        margin-left:-4%;
        margin-top:135%;
        position: absolute;
   }

   .botao-toque-jogar{
    width: 150%;
    height: 150%;
    background-color: transparent;
    position: absolute;
    margin-left:-4%;
    margin-top:-10%;
   }
}