page-hd-jogo {
    h2 {
        color: rgb(26,40,56);
        font-size: 120%;
        text-align: center;
    }

    .inicio{
        padding-top:20%;
    }

    .titulo{
        padding-right: 60%;
        color: rgb(235, 230, 230);
    }

    .corpo{
        background-color: rgb(26,40,56);
        text-align: left;
        font-family: Arial,Verdana,sans-serif;
        font-size: 1.2em;
        text-align:left;
        background-image: url("../assets/imgs/jogo-hd-vazio.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .toolbar-background {
        background-color: rgb(32, 30, 30);
      }

      ion-header ion-icon.back-button-icon.icon {
        color: rgb(235, 230, 230);
    }

    .btn{
        float:left;
        margin-left: 14%;
        width:30%;
        height: 6%;
    }

    #corpo{
        overflow: hidden;
        cursor: pointer;
    }

   .cesta{
       width:28%;
       height: 18%;
       margin-top:108%;
       transition: left .5s cubic-bezier(.42,-0.3,.78,1.25), 
       top .5s cubic-bezier(.42,-0.3,.78,1.25);
   }

   .obs{
    width:15%;
    height: 8%;
    margin-top:0%;
}

.aviso{
    margin-top: 170%; 
    font-weight: bold;
    text-align: center;
    font-family: Joystix Monospace;
}

@media only screen and (min-height: 580px) and (max-height: 700px) {
    .cesta{
        width:28%;
        height: 18%;
        margin-top:113%;
        transition: left .5s cubic-bezier(.42,-0.3,.78,1.25), 
        top .5s cubic-bezier(.42,-0.3,.78,1.25);
    }
}
}
