<ion-header>
</ion-header>

<ion-content padding class="corpo" id="corpo">
    <img src="assets/imgs/bitcoin-icon.png" class="obs" id="bt">
    <img src="assets/imgs/simbolo-wifi.png" class="obs" id="gc">
    <img src="assets/imgs/impressora.png" class="obs" id="pt">
    <img src="assets/imgs/discorigido.png" class="obs" id="hd">
    <img src="assets/imgs/cesta-2.png" class="cesta" id="cesta">

    <p id="aviso" class="aviso">Pegue 10 discos rígidos!</p>

</ion-content>