page-tela-escolhe-avatar {
    .corpo{
        background-image: url("../assets/imgs/fundo-parado2.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .escolha-personagem-img{
        width: 75%;
        height: 100px;
        margin-top: 2%;
        position: absolute;
        left: 50%;
        margin-left:-37.5%;
    }

    .caixa-slide {
        background-color: transparent;
        width: 76%;
        height: 40%;
        margin-top: 42%;
        position: absolute;
        left: 50%;
        margin-left:-38.5%;
    }

    .plataforma-pers{
        width: 95%;
        height: 40%;
        margin-top: 8%;
        left:50%;
        margin-left: -47.5%;
        position: absolute;
        z-index: 2;
    }

    .personagem1 {
        background-color: transparent;
        width: 38%;
        height: 50%;
        margin-top: -26%;
        position: absolute;
        left: 50%;
        margin-left: -18%;
        z-index: 3;
    }

    .personagem2 {
        background-color: transparent;
        width: 65%;
        height: 40%;
        margin-top: -17%;
        position: absolute;
        left: 50%;
        margin-left: -32.5%;
        z-index: 3;
    }

    .personagem3 {
        background-color: transparent;
        width: 60%;
        height: 72%;
        margin-top: -40%;
        position: absolute;
        left: 50%;
        margin-left: -30%;
        z-index: 3;
    }

    .personagem4 {
        background-color: transparent;
        width: 58%;
        height: 68%;
        margin-top: -38%;
        position: absolute;
        left: 50%;
        margin-left: -28%;
        z-index: 3;
    }

    .personagem5 {
        background-color: transparent;
        width: 58%;
        height: 68%;
        margin-top: -38%;
        position: absolute;
        left: 50%;
        margin-left: -28%;
        z-index: 3;
    }

    .personagem6 {
        background-color: transparent;
        width: 58%;
        height: 68%;
        margin-top: -35%;
        position: absolute;
        left: 50%;
        margin-left: -28%;
        z-index: 3;
    }

    .seta-esquerda {
        background-color: transparent;
        background-image: url("../assets/imgs/seta-direita.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 16%;
        height: 55px;
        margin-left: 82%;
        margin-top: 75%;
        z-index: 2;
    }

    .seta-esquerda:focus {
        outline: none;
        box-shadow: none;
        background-color: transparent;
    }

    .seta-esquerda:active{
        outline: none;
        box-shadow: none;
        background-color: transparent;
    }

    .seta-esquerda:hover{
        outline: none;
        box-shadow: none;
        background-color: transparent;
    }

    .seta-direita {
        background-color: transparent;
        background-image: url("../assets/imgs/seta-esquerda.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 16%;
        height: 55px;
        margin-left:-98%;
        margin-top: 75%;
        z-index: 2;
    }

    .seta-direita:focus {
        outline: none;
        box-shadow: none;
        background-color: transparent;
    }

    .seta-direita:active{
        outline: none;
        box-shadow: none;
        background-color: transparent;
    }

    .seta-direita:hover{
        outline: none;
        box-shadow: none;
        background-color: transparent;
    }

    .seu-nome-img{
        width: 80%;
        height: 45px;
        margin-top: 118%;
        position: absolute;
        left: 50%;
        margin-left:-40%;
    }

   
    .input-nome {
        background-color:transparent;
        width: 70%;
        height: 5px;
        border-radius: 10px;
        border: 2px solid rgb(197,90,17);
        position: absolute;
        left: 50%;
        margin-top: 48%;
        margin-left: -35%;
        color:rgb(29, 28, 28);
        font-family: Determination Mono; 
        font-size: 24px;
        text-align-last: center;
        padding-bottom: 40px;
    }


    .botao-continuar{
        background-color: transparent;
        border: 0px solid white;
        background-image: url("../assets/imgs/botao-continuar-3.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 22%;
        height: 11%;
        position: absolute;
        top:50%;
        left: 50%;
        margin-left: -11%;
        margin-top: 65%;
    }

    .botao-continuar:focus {
        outline: none;
        box-shadow: none;
        background-color: transparent;
    }

    .botao-continuar:active{
        outline: none;
        box-shadow: none;
        background-color: transparent;
    }

    .botao-continuar:hover{
        outline: none;
        box-shadow: none;
        background-color: transparent;
    }

    //tela c teclado
    @media only screen and (min-height: 200px) and (max-height: 400px) {
        .escolha-personagem-img{
            width: 75%;
            height: 100px;
            margin-top: 2%;
            position: absolute;
            left: 50%;
            margin-left:-37.5%;
        }

        .caixa-slide {
            background-color: transparent;
            width: 76%;
            height: 50%;
            margin-top: 42%;
            position: absolute;
            left: 50%;
            margin-left:-38.5%;
        }

        .plataforma-pers{
            width: 95%;
            height: 45%;
            margin-top: 2%;
            left:50%;
            margin-left: -47.5%;
            position: absolute;
            z-index: 2;
        }

        .seta-direita {
            background-color: transparent;
            background-image: url("../assets/imgs/seta-esquerda.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            width: 16%;
            height: 55px;
            margin-left:-98%;
            margin-top: 55%;
            z-index: 2;
        }

        .seta-esquerda {
            background-color: transparent;
            background-image: url("../assets/imgs/seta-direita.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            width: 16%;
            height: 55px;
            margin-left: 82%;
            margin-top: 55%;
            z-index: 2;
        }

        .personagem1 {
            background-color: transparent;
            width: 38%;
            height: 60%;
            margin-top: -24%;
            position: absolute;
            left: 50%;
            margin-left: -18%;
            z-index: 3;
        }
    
        .personagem2 {
            background-color: transparent;
            width: 65%;
            height: 50%;
            margin-top: -20%;
            position: absolute;
            left: 50%;
            margin-left: -32.5%;
            z-index: 3;
        }
    
        .personagem3 {
            background-color: transparent;
            width: 60%;
            height: 80%;
            margin-top: -35%;
            position: absolute;
            left: 50%;
            margin-left: -30%;
            z-index: 3;
        }
    
        .personagem4 {
            background-color: transparent;
            width: 58%;
            height: 80%;
            margin-top: -35%;
            position: absolute;
            left: 50%;
            margin-left: -28%;
            z-index: 3;
        }
    
        .personagem5 {
            background-color: transparent;
            width: 58%;
            height: 80%;
            margin-top: -35%;
            position: absolute;
            left: 50%;
            margin-left: -28%;
            z-index: 3;
        }
    
        .personagem6 {
            background-color: transparent;
            width: 58%;
            height: 80%;
            margin-top: -33%;
            position: absolute;
            left: 50%;
            margin-left: -28%;
            z-index: 3;
        }

        .seu-nome-img{
            width: 80%;
            height: 45px;
            margin-top: 100%;
            position: absolute;
            left: 50%;
            margin-left:-40%;
        }

        .input-nome {
            background-color:transparent;
            width: 70%;
            height: 5px;
            border-radius: 10px;
            border: 2px solid rgb(197,90,17);
            position: absolute;
            left: 50%;
            margin-top: 52%;
            margin-left: -35%;
            color:rgb(29, 28, 28);
            font-family: Determination Mono;   
            font-size: 24px;
            text-align-last: center;
            padding-bottom: 40px;
        }
    
    
        .botao-continuar{
            background-color: transparent;
            border: 0px solid white;
            background-image: url("../assets/imgs/botao-continuar-3.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            width: 22%;
            height: 18%;
            position: absolute;
            top:50%;
            left: 50%;
            margin-left: -11%;
            margin-top: 92%;
        }
    }

    @media only screen and (min-height: 400px) and (max-height: 500px) {
        .escolha-personagem-img{
            width: 75%;
            height: 100px;
            margin-top: 2%;
            position: absolute;
            left: 50%;
            margin-left:-37.5%;
        }

        .caixa-slide {
            background-color: transparent;
            width: 76%;
            height: 55%;
            margin-top: 42%;
            position: absolute;
            left: 50%;
            margin-left:-38.5%;
        }

        .plataforma-pers{
            width: 95%;
            height: 43%;
            margin-top: -2%;
            left:50%;
            margin-left: -47.5%;
            position: absolute;
            z-index: 2;
        }

        .seta-direita {
            background-color: transparent;
            background-image: url("../assets/imgs/seta-esquerda.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            width: 18%;
            height: 55px;
            margin-left:-98%;
            margin-top: 60%;
            z-index: 2;
        }

        .seta-esquerda {
            background-color: transparent;
            background-image: url("../assets/imgs/seta-direita.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            width: 18%;
            height: 55px;
            margin-left: 80%;
            margin-top: 60%;
            z-index: 2;
        }

        .personagem1 {
            background-color: transparent;
            width: 38%;
            height: 58%;
            margin-top: -38%;
            position: absolute;
            left: 50%;
            margin-left: -18%;
            z-index: 3;
        }
    
        .personagem2 {
            background-color: transparent;
            width: 65%;
            height: 48%;
            margin-top: -32%;
            position: absolute;
            left: 50%;
            margin-left: -32.5%;
            z-index: 3;
        }
    
        .personagem3 {
            background-color: transparent;
            width: 60%;
            height: 75%;
            margin-top: -47%;
            position: absolute;
            left: 50%;
            margin-left: -30%;
            z-index: 3;
        }
    
        .personagem4 {
            background-color: transparent;
            width: 58%;
            height: 75%;
            margin-top: -48%;
            position: absolute;
            left: 50%;
            margin-left: -28%;
            z-index: 3;
        }
    
        .personagem5 {
            background-color: transparent;
            width: 58%;
            height: 75%;
            margin-top: -50%;
            position: absolute;
            left: 50%;
            margin-left: -28%;
            z-index: 3;
        }
    
        .personagem6 {
            background-color: transparent;
            width: 58%;
            height: 80%;
            margin-top: -50%;
            position: absolute;
            left: 50%;
            margin-left: -28%;
            z-index: 3;
        }

        .seu-nome-img{
            width: 80%;
            height: 45px;
            margin-top: 108%;
            position: absolute;
            left: 50%;
            margin-left:-40%;
        }

        .input-nome {
            background-color:transparent;
            width: 70%;
            height: 5px;
            border-radius: 10px;
            border: 2px solid rgb(197,90,17);
            position: absolute;
            left: 50%;
            margin-top: 61%;
            margin-left: -35%;
            color:rgb(29, 28, 28);
            font-family: Determination Mono;   
            font-size: 24px;
            text-align-last: center;
            padding-bottom: 40px;
            
        }
    
        .botao-continuar{
            background-color: transparent;
            border: 0px solid white;
            background-image: url("../assets/imgs/botao-continuar-3.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            width: 22%;
            height: 18%;
            position: absolute;
            top:50%;
            left: 50%;
            margin-left: -11%;
            margin-top: 90%;
        }
    }

}
