<ion-header>
</ion-header>

<ion-content padding class="corpo">
    <img src="assets/imgs/escolha-personagem.png" class="escolha-personagem-img">

    <ion-slides class="caixa-slide">

      <ion-slide>
        <img src="assets/imgs/plataforma-pers.png" class="plataforma-pers">
        <img src="assets/imgs/personagem-1.gif" class="personagem1">
      </ion-slide>

      <ion-slide>
        <img src="assets/imgs/plataforma-pers.png" class="plataforma-pers">
        <img src="assets/imgs/personagem-2.gif" class="personagem2">
      </ion-slide>

      <ion-slide>
        <img src="assets/imgs/plataforma-pers.png" class="plataforma-pers">
        <img src="assets/imgs/personagem-3.gif" class="personagem3">
      </ion-slide>

      <ion-slide>
        <img src="assets/imgs/plataforma-pers.png" class="plataforma-pers">
        <img src="assets/imgs/personagem-4.gif" class="personagem4">
      </ion-slide>

      <ion-slide>
        <img src="assets/imgs/plataforma-pers.png" class="plataforma-pers">
        <img src="assets/imgs/personagem-5.gif" class="personagem5">
      </ion-slide>

      <ion-slide>
          <img src="assets/imgs/plataforma-pers.png" class="plataforma-pers">
          <img src="assets/imgs/personagem-6.gif" class="personagem6">
      </ion-slide>
      
    </ion-slides>
    
    <button ion-button class="seta-esquerda" mode="ios" (click)="mudarPersonagemDireita()"></button>
    <button ion-button class="seta-direita" mode="ios" (click)="mudarPersonagemEsquerda()"></button>

    <img src="assets/imgs/escolha-nome.png" class="seu-nome-img">

    <ion-input class="input-nome"></ion-input>

    <button ion-button mode="ios" class="botao-continuar" (click)="proxPag()"></button>

    

  
</ion-content>
